:root {
    --primary-color: #03a9f5;
    --secondary-color: #e91d62;
    --secondary-light: #f84e87;
    --secondary-dark: #bd0b46;
    --bg-lgrey-color: #f5f5f5;
    --bg-grey-color: #f6f6f6;
    --black: #141414;
}
html {
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
