.container {
    width: 100%;
    padding: 0;
    text-align: center;
}
.container-hero {
    background-color: var(--bg-lgrey-color);
}
@media (min-width: 576px) {
    .duk-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    @media (min-width: 992px) {
        .shop-grid {
            display: grid !important;
            grid-template-columns: 1fr 1fr 1fr !important;
            gap: 60px;
        }
        .duk-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            padding: 50px;
        }
    }
}
